In [48]:
import pandas as pd
import numpy as np
import pickle

In [7]:
basic_path_to_dataset = "../../data/ml-1m-after_eda/"

In [8]:
with open(f'{basic_path_to_dataset}movies.pickle', 'rb') as file:
    movies = pickle.load(file)

with open(f'{basic_path_to_dataset}ratings.pickle', 'rb') as file:
    ratings = pickle.load(file)

with open(f'{basic_path_to_dataset}users.pickle', 'rb') as file:
    users = pickle.load(file)

In [10]:
ratings.head()

   UserID  MovieID  Rating  Timestamp            Datetime        Date
0       1     1193       5  978300760 2000-12-31 22:12:40  2000-12-31
1       1      661       3  978302109 2000-12-31 22:35:09  2000-12-31
2       1      914       3  978301968 2000-12-31 22:32:48  2000-12-31
3       1     3408       4  978300275 2000-12-31 22:04:35  2000-12-31
4       1     2355       5  978824291 2001-01-06 23:38:11  2001-01-06

## Sum of rating

In [26]:
rating_sum_df = ratings.groupby('MovieID').agg(
    RatingSum=('Rating', sum)
).reset_index()

C:\Users\t-bva\AppData\Local\Temp\ipykernel_19700\827436684.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  rating_sum_df = ratings.groupby('MovieID').agg(

In [50]:
rating_sum_df.sort_values(by='RatingSum', ascending=False).reset_index(drop=True)

      MovieID  RatingSum
0        2858      14800
1         260      13321
2        1196      12836
3        1210      11598
4        2028      11507
...       ...        ...
3701      641          1
3702      133          1
3703     2845          1
3704     2039          1
3705     3237          1

[3706 rows x 2 columns]

In [ ]:
def recommend_by_rating_sum(ratings, n_items=10) -> np.ndarray:
    rating_sum_df = ratings.groupby('MovieID').agg(
        RatingSum=('Rating', sum)
    ).reset_index()
    n_ids = rating_sum_df.sort_values(by='RatingSum', ascending=False).reset_index(drop=True).loc[:n_items, 'MovieID']
    return n_ids

## Average rating

In [30]:
rating_avg_df = ratings.groupby('MovieID').agg(
    RatingSum=('Rating', sum),
    UserAmount=('UserID', len)
).reset_index()

rating_avg_df['AvgRating'] = rating_avg_df['RatingSum'] / rating_avg_df['UserAmount']

C:\Users\t-bva\AppData\Local\Temp\ipykernel_19700\1824242799.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  rating_avg_df = ratings.groupby('MovieID').agg(

In [31]:
rating_avg_df.head()

   MovieID  RatingSum  UserAmount  AvgRating
0        1       8613        2077   4.146846
1        2       2244         701   3.201141
2        3       1442         478   3.016736
3        4        464         170   2.729412
4        5        890         296   3.006757

In [ ]:
def recommend_rating_avg(ratings, n_items=10) -> np.ndarray:
    rating_avg_df = ratings.groupby('MovieID').agg(
        RatingSum=('Rating', sum),
        UserAmount=('UserID', len)
    ).reset_index()
    n_ids = rating_avg_df.sort_values(by='AvgRating', ascending=False).reset_index(drop=True).loc[:n_items, 'MovieID']
    return n_ids

## Interaction count

In [32]:
interaction_count_df = ratings.groupby('MovieID').agg(
    UserAmount=('UserID', len)
).reset_index()

In [33]:
interaction_count_df

      MovieID  UserAmount
0           1        2077
1           2         701
2           3         478
3           4         170
4           5         296
...       ...         ...
3701     3948         862
3702     3949         304
3703     3950          54
3704     3951          40
3705     3952         388

[3706 rows x 2 columns]

In [ ]:
def recommend_interaction_count(ratings, n_items=10) -> np.ndarray:
    interaction_count_df = ratings.groupby('MovieID').agg(
        UserAmount=('UserID', len)
    ).reset_index()
    n_ids = interaction_count_df.sort_values(by='UserAmount', ascending=False).reset_index(drop=True).loc[:n_items, 'MovieID']
    return n_ids